body{
    background-color: papayawhip;
    font-family: ;
}
h1{
    background-color: #fee8c1;
    border: 2px solid #000000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0.15%;
    text-align: center;
}
h2{
    margin-left: 1%;
}
nav{
    background-color: papayawhip;
    border: 2px solid #000000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
    font-size: 150%;
}
.index-grid{
    display: grid;

}
.index-item{
    margin-top: 0.2%;
    background-color: papayawhip;
    border: 1px solid #000000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
img{
    display: inline;
    width: 30%;  
    margin-left: 0.1%;  
}