
@media (max-width: 600px){

    /* .OJ{
        display: none;
    } */
    .amigurumis{
        display: none;
    }
    .plantas{
        display: none;
    }
    .otros{
        display: none;
    }
    .todos{
        display: none;
    }
        /* derecha */

    .correo{
        display: none;
    }
    .cuenta{
        display: none;
    }
    .logueo{
        display: none;
    }    
}